* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;



}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;

}

#calculadora {
    background-color: #575757;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 30px 0 30px;
    border-radius: 10px;
    box-shadow: 15px 15px 0px #424242;

}

#calculadora::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 8px;
    background-color: #424242;
    transform: rotate(45deg);
    margin-left: -29px;
    margin-top: -2px;
    z-index: -1;
}

#calculadora::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 8px;
    background-color: #424242;
    transform: rotate(45deg);
    margin-left: 458px;
    margin-top: -22px;
    z-index: -1;

}

#calculadora>.operando {
    width: 100%;
    min-height: 100px;
    /* Fija la altura mínima para que el cuadro mantenga su tamaño */
    padding: 20px;
    text-align: right;
    background-color: aliceblue;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 70px;
    overflow: hidden;
    /* Oculta el contenido que exceda el ancho */
    white-space: nowrap;
    /* Evita que el texto se desborde a una nueva línea */
}


#calculadora .btn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

}

#calculadora .btn button {
    padding: 10px;
    background-color: #ececec;
    font-weight: bold;
    border-radius: 10px;
    border-width: 5px;
    border-color: #c9c9c9;
    font-size: 25px;
}

#calculadora .btn button:last-child {
    grid-column: span 2;
    background-color: #f5a34d;
    border-color: #ce812a;

}

.eliminar {
    grid-column: span 2;

}